<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MsSqlConnection</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>ism.controller.addToCart.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProducts</display-name>
    <servlet-name>UpdateProducts</servlet-name>
    <servlet-class>ism.controller.products.UpdateProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProducts</servlet-name>
    <url-pattern>/UpdateProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductController</display-name>
    <servlet-name>UpdateProductController</servlet-name>
    <servlet-class>ism.controller.products.UpdateProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductController</servlet-name>
    <url-pattern>/UpdateProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAddToCart</display-name>
    <servlet-name>ListAddToCart</servlet-name>
    <servlet-class>ism.controller.addToCart.ListAddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAddToCart</servlet-name>
    <url-pattern>/ListAddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAddToCart</display-name>
    <servlet-name>DeleteAddToCart</servlet-name>
    <servlet-class>ism.controller.addToCart.DeleteAddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAddToCart</servlet-name>
    <url-pattern>/DeleteAddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutControl</display-name>
    <servlet-name>CheckOutControl</servlet-name>
    <servlet-class>ism.controller.chackOut.CheckOutControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutControl</servlet-name>
    <url-pattern>/CheckOutControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetailDao</display-name>
    <servlet-name>OrderDetailDao</servlet-name>
    <servlet-class>ism.dao.OrderDetailDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailDao</servlet-name>
    <url-pattern>/OrderDetailDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOrderController</display-name>
    <servlet-name>ListOrderController</servlet-name>
    <servlet-class>ism.controller.chackOut.ListOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrderController</servlet-name>
    <url-pattern>/ListOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrder</display-name>
    <servlet-name>DeleteOrder</servlet-name>
    <servlet-class>ism.controller.chackOut.DeleteOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrder</servlet-name>
    <url-pattern>/DeleteOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOrderDetails</display-name>
    <servlet-name>ListOrderDetails</servlet-name>
    <servlet-class>ism.controller.chackOut.ListOrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOrderDetails</servlet-name>
    <url-pattern>/ListOrderDetails</url-pattern>
  </servlet-mapping>
</web-app>